body{
  padding-top: 7%;
  padding-bottom: 7%;
  background: rgb(16,11,99);
background: linear-gradient(82deg, rgba(16,11,99,1) 16%, rgba(99,94,232,1) 52%, rgba(168,168,235,1) 79%, rgba(0,212,255,1) 100%);
}
.main{
display: flex;
flex-direction: column;
align-self:center ;
background-color: white;
align-items: center;
margin: auto;
padding: 20px;
text-align: center;

}
.row{
  display: flex;
  justify-content: center;
  
}